<?cs if:item.type == "Note" ?>
<article>
  <header>
    <?cs if:item.parent ?>
    <p>
      <a href="<?cs var:item.parent ?>"><?cs var:gettext("web._note.parent") ?></a>
      <?cs if:item.top ?>
      <a href="<?cs var:item.top ?>"><?cs var:gettext("web._note.top") ?></a>
      <?cs /if ?>
    </p>
    <?cs /if ?>
    <p>
      <a href="<?cs var:attr_sanitize(item.author.url) ?>"><?cs var:attr_sanitize(item.author.name) ?></a>
      <a href="<?cs var:item.url ?>"><time datetime="<?cs var:item.datetime ?>"><?cs var:item.datetime_human ?></time></a>
      <?cs if:item.ext ?>
      <a rel="external" href="<?cs var:item.ext ?>"><?cs var:gettext("web._note.external") ?></a>
      <?cs /if ?>
    </p>
  </header>
  <p><?cs var:html_sanitize(item.content) ?></p>
  <p>
    <a href="https://<?cs var:server_name ?>/web/submit?reply=<?cs var:item.id ?>"><?cs var:gettext("web._note.reply") ?></a>
    <a href="https://<?cs var:server_name ?>/web/boost?id=<?cs var:item.id ?>"><?cs var:gettext("web._note.boost") ?> (<?cs var:item.boost_num ?>)</a>
    <a href="https://<?cs var:server_name ?>/web/like?id=<?cs var:item.id ?>"><?cs var:gettext("web._note.like") ?> (<?cs var:item.like_num ?>)</a>
  </p>
  <?cs if:item.has_replies ?>
  <ul>
    <?cs each:reply = item.replies ?>
    <li><?cs var:reply ?></li>
    <?cs /each ?>
  </ul>
  <?cs /if ?>
</article>
<?cs elif:item.type == "Announce" ?>
<section>
  <header>
    <p>
      <a href="<?cs var:attr_sanitize(item.author.url) ?>"><?cs var:attr_sanitize(item.author.name) ?></a>
      <?cs var:gettext("web._note.boosted") ?>
    </p>
    <p>
      <time datetime="<?cs var:item.datetime ?>"><?cs var:item.datetime_human ?></time>
    </p>
  </header>
  <ul>
    <li><?cs var:item.sub ?></li>
  </ul>
</section>
<?cs /if ?>
