<section>
  <header>
    <p>
      <?cs if:item.notif.read == "n" ?>
      (<?cs var:gettext("web._notification.unread") ?>)
      <?cs /if ?>
      <a href="<?cs var:attr_sanitize(item.notif.source.url) ?>"><?cs var:attr_sanitize(item.notif.source.name) ?></a>
      <?cs if:item.notif.type == "Mention" ?>
      <?cs var:gettext("web._notification.mention") ?>
      <?cs elif:item.notif.type == "Like" ?>
      <?cs var:gettext("web._notification.like") ?>
      <?cs elif:item.notif.type == "Boost" ?>
      <?cs var:gettext("web._notification.boost") ?>
      <?cs elif:item.notif.type == "Follow" ?>
      <?cs var:gettext("web._notification.follow") ?>
      <?cs elif:item.notif.type == "Unfollow" ?>
      <?cs var:gettext("web._notification.unfollow") ?>
      <?cs /if ?>
    </p>
  </header>
  <?cs if:item.notif.type != "Follow" && item.notif.type != "Unfollow" ?>
  <?cs linclude:"templates/_note.html" ?>
  <?cs /if ?>
</section>
