<ul>
  <?cs each:item = notes ?>
  <li>
    <?cs linclude:timeline_template ?>
  </li>
  <?cs /each ?>
</ul>
<?cs if:last_inserted ?>
<a href="<?cs var:path_base ?>?before=<?cs var:last_inserted ?>">Next page</a>
<?cs /if ?>
