<?cs include:"templates/_header.html" ?>
<?cs if:req.query.err == #2 ?>
<p><?cs var:gettext("web.create_account.invalid_username") ?></p>
<?cs elif:req.query.err == #3 ?>
<p><?cs var:gettext("web.create_account.empty_password") ?></p>
<?cs elif:req.query.err == #4 ?>
<p><?cs var:gettext("web.create_account.confirm") ?></p>
<?cs elif:req.query.err == #5 ?>
<p><?cs var:gettext("web.create_account.account_exists") ?></p>
<?cs /if ?>
<form action="/web/create-account" method="post">
  <p>
    <label for="username"><?cs var:gettext("web._form.username") ?></label>
    <input type="text" id="username" name="username" /><br />
    <label for="password"><?cs var:gettext("web._form.password") ?></label>
    <input type="password" id="password" name="password" /><br />
    <label for="confirm-password"><?cs var:gettext("web.create_account.confirm_password") ?></label>
    <input type="password" id="confirm-password" name="confirm-password" /><br />
    <input type="submit" value="<?cs var:gettext("web._form.submit") ?>" />
  </p>
</form>
<?cs include:"templates/_footer.html" ?>
