<?cs include:"templates/_header.html" ?>
<?cs if:req.query.err == #2 ?>
<p><?cs var:gettext("web.login.invalid_username_password") ?></p>
<?cs /if ?>
<form action="/web/login" method="post">
  <p>
    <label for="username"><?cs var:gettext("web._form.username") ?></label>
    <input type="text" id="username" name="username" /><br />
    <label for="password"><?cs var:gettext("web._form.password") ?></label>
    <input type="password" id="password" name="password" /><br />
    <input type="submit" value="<?cs var:gettext("web._form.submit") ?>" />
  </p>
</form>
<?cs include:"templates/_footer.html" ?>
