<?cs include:"templates/_header.html" ?>
<?cs if:first_inserted && notif_count != 0 ?>
<p><a href="/web/readnotifications?from=<?cs var:first_inserted ?>"><?cs var:gettext("web.notifications.read") ?></a></p>
<hr />
<?cs /if ?>
<?cs include:"templates/_timeline.html" ?>
<?cs include:"templates/_footer.html" ?>
