<?cs include:"templates/_header.html" ?>
<?cs if:query.req.err == #2 ?>
<p><?cs var:gettext("web.login.tz_range") ?></p>
<?cs /if ?>
<form action="/web/settings" method="post">
  <p>
    <label for="lang"><?cs var:gettext("web.settings.lang") ?></label>
    <select id="lang" name="lang">
      <?cs each:item = langs ?>
      <option value="<?cs var:item.shortcode ?>"
              <?cs if:item.shortcode == locale ?>
              selected="1"
              <?cs /if ?>
              >
        <?cs var:item.nat_name ?> (<?cs var:item.eng_name ?>)
      </option>
      <?cs /each ?>
    </select><br/>
    <fieldset>
      <legend><?cs var:gettext("web.settings.tz") ?></legend>
      <label for="tz_hour"><?cs var:gettext("web.settings.tz_hour") ?></label>
      <input type="number" id="tz_hour" name="tz_hour" value="<?cs var:tzh ?>"
             min="-12" max="12" step="1" /><br />
      <label for="tz_min"><?cs var:gettext("web.settings.tz_min") ?></label>
      <input type="number" id="tz_min" name="tz_min" value="<?cs var:tzm ?>"
             min="0" max="45" step="15" /><br />
    </fieldset>
    <input type="submit" value="<?cs var:gettext("web._form.submit") ?>" />
  </p>
</form>
<?cs include:"templates/_footer.html" ?>
