<?cs include:"templates/_header.html" ?>
<?cs if:req.query.err == #2 ?>
<p><?cs var:gettext("web.submit.empty") ?></p>
<?cs elif:req.query.err == #3 ?>
<p><?cs var:gettext("web.submit.too_long") ?></p>
<?cs /if ?>
<?cs if:item.content ?>
<p>In reply to:</p>
<ul>
  <li>
    <?cs linclude:"templates/_note.html" ?>
  </li>
</ul>
<hr />
<?cs /if ?>
<form action="/web/<?cs var:base_url ?>" method="post">
  <p>
    <textarea name="content" placeholder="<?cs var:gettext("web.submit.placeholder") ?>"
              cols="50" rows="5"><?cs var:content ?></textarea><br />
    <input type="submit" value="<?cs var:gettext("web._form.submit") ?>" />
  </p>
</form>
<?cs include:"templates/_footer.html" ?>
