<?cs include:"templates/_header.html" ?>
<h2><?cs var:attr_sanitize(tuser.name) ?></h2>
<h3><a rel="external" href="<?cs var:attr_sanitize(tuser.url) ?>">
    <?cs var:attr_sanitize(tuser.username) ?>
</a></h3>
<p>
  <?cs var:tuser.followers ?> <?cs var:gettext("web.user.followers") ?>,
  <?cs var:tuser.followings ?> <?cs var:gettext("web.user.followings") ?>.
</p>
<hr />
<?cs include:"templates/_timeline.html" ?>
<?cs include:"templates/_footer.html" ?>
